body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
}

div#gamepad{
    margin: 5%;
    /* width: 744px; */
    width: 547px;
    /* height: 151px; */
    height: 96px;
    background-image: url("bg-w.svg");
    background-repeat: no-repeat;
}

div{
    float: left;
    height: 25px;
    width: 25px;
}
.pressed{
    background-color: goldenrod;
}
.triggers{
    position: relative;
    /* position: absolute; */
    top: 3px;
    height: 90px;
    width: 547px;
    /* background-color: crimson; */
}
.leftTrigger{
    float: left;
    position: relative;
    margin: 0 7.5px;
    /* left: 3px; */
    top: 90%;
    height: 10%;
    width: 15px;
    background-color: white;
}

.rightTrigger{
    float: right;
    position: relative;
    margin: 0 7.5px;
    /* right: 3px; */
    top: 90%;
    height: 10%;
    width: 15px;
    background-color: white;
}

.bumpers{
    display: none;
}
.analog{
    position: fixed;
    top: 23px;
    /* left: -36.66666666%; */
    margin: 0 68px;
    padding: 0 2px;
    /* left: 68px; */
    height: 10px;
    width: 412px;
    /* background-color: cornsilk; */
    /* border: 2px; */
    /* border-style: none solid solid solid; */
    /* border-color: black; */
}
.leftX{
    position: relative;
    background-color: red;
    left: 48.5%;
    height: 8px;
    width: 8px;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
}
.leftY{
    display: none;
}

.rightX{
    display: none;
}

.rightY{
    display: none;
}

.sticks{
    display: none;
}
.face{
    top: 20px;
    height: 40px;
    width: 180px;
    position: relative;
    left: -420px;
    background-color: dodgerblue;
}
.A, .B, .X, .Y{
    height: 40px;
    width: 45px;
}
.dpad{
    display: none;
}
.special{
    display: none;
}
.ps{
    display: none !important;
}
