body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
    width: 597px;
    height: 146px;
}

div#gamepad{
    margin: 25px;
    width: 547px;
    height: 96px;
    background-image: url("bg-w.svg");
    background-repeat: no-repeat;
}

div{
    float: left;
    height: 25px;
    width: 25px;
    text-align: center;
}
.pressed{
    background-color: white;
}
.triggers{
    position: relative;
    top: 3px;
    height: 90px;
    width: 547px;
}
.leftTrigger{
    float: left;
    position: relative;
    margin: 0 5px;
    /* left: 3px; */
    top: 90%;
    height: 10%;
    width: 20px;
    background-color: white;
}

.rightTrigger{
    float: right;
    position: relative;
    margin: 0 5px;
    top: 90%;
    height: 10%;
    width: 20px;
    background-color: white;
}

.bumpers{
    display: none;
}
.analog{
    position: fixed;
    top: 23px;
    margin: 0 68px;
    padding: 0 2px;
    height: 10px;
    width: 412px;
}
.leftX{
    position: relative;
    background-color: red;
    left: 48.5%;
    height: 8px;
    width: 8px;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
}
.leftY{
    display: none;
}

.rightX{
    display: none;
}

.rightY{
    display: none;
}

.sticks{
    display: none;
}
.face, .dpad{
	display: none; //disable
	position: absolute;
	height: 75px;
	width: 75px;
	margin: 0px 120px;
	margin-top: 20px;
}
.face{
	right: 0;
}
.dpad{
	left: 0;
}
.A, .B, .X, .Y, .up, .down, .left, .right{
	position: absolute;
	height: 25px;
	width: 25px;
}
.A, .down{
	top: 50px;
	left: 25px;
}
.B, .right{
	top: 25px;
	left: 50px;
}
.X, .left{
	top: 25px;
	left: 0px;
}
.Y, .up{
	top: 0px;
	left: 25px;
}
.special{
    display: none;
}
.ps{
    display: none !important;
}
